In [3]:
my_list = [23, 29, 1.0, 2.1]
y = ["Olivier", "ENGEL", "Strasbourg"] # List consisting only of characters
z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters.
print(my_list)
print(y)
print(z)

[23, 29, 1.0, 2.1]
['Olivier', 'ENGEL', 'Strasbourg']
[1, 'Olivier', 5, 8, 'ENGEL', 10, 4, 50, 'Strasbourg']

In [6]:
x = list(range(1, 15))
print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
x = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
y = ("Blanche", "IRIZA", "Kigali") # Tuple consisting only of characters
z = (1, "Blanche", 5, 8, "IRIZA ", 10, 4, 50, "Kigali") 
print(x)
print (y)
print(z)

(1, 5, 8, 10, 4, 50, 8)
('Blanche', 'IRIZA', 'Kigali')
(1, 'Blanche', 5, 8, 'IRIZA ', 10, 4, 50, 'Kigali')

In [15]:
a = (1, 5, 8, 10, 4, 50, 8) # Tuple consisting only of numbers
b = ("Blanche", "Marie", "Kigali") # Tuple consisting only of characters
c = (1, "Blanche", 5, 8, "Marie", 10, 4, 50, "Kigali") 
print(a)
print(b)
print(c)

(1, 5, 8, 10, 4, 50, 8)
('Blanche', 'Marie', 'Kigali')
(1, 'Blanche', 5, 8, 'Marie', 10, 4, 50, 'Kigali')

In [16]:
 v = [4, 4, "orange", "meat", 4, "orange"]
 V = set(v)
 print(V) # returns {2, 'orange', 4, 'meat'}

{'orange', 'meat', 4}

In [17]:
x = {'name': 'Blanche', 'weight': 70, 'height': 1.75} # Keys with unique values.
y = {'Blanche': [25, 70, 1.75], 'Marie': [30, 65, 1.80], 'Iriza': [35, 75, 1.65]} # Key with multiple values formed by a list
print(x)
print(y)

{'name': 'Blanche', 'weight': 70, 'height': 1.75}
{'Blanche': [25, 70, 1.75], 'Marie': [30, 65, 1.8], 'Iriza': [35, 75, 1.65]}

In [18]:
w = [[1,2,3],[2,3,4],[3,4,5]] # liste à deux dimensions (liste de listes)

z = [[[1,2],[2,3]],[[4,5],[5,6]]] # liste à trois dimensions (liste de listes de listes)

w,z

([[1, 2, 3], [2, 3, 4], [3, 4, 5]], [[[1, 2], [2, 3]], [[4, 5], [5, 6]]])

In [24]:

x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']) # Definition of a list
print(x) 
print(x[1:3])
print(x[1:6:2])
print(x[::-1])
print(x[::2])

['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
['Tuesday', 'Wednesday']
['Tuesday', 1800, 'Thursday']
['Friday', 'Thursday', 20.357, 1800, 'Wednesday', 'Tuesday', 'Monday']
['Monday', 'Wednesday', 20.357, 'Friday']

In [31]:
x = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
print(x[1:][1])
print(x[1][:2])
print(x[1][1:])

[3, 4, 5]
[2, 3]
[3, 4]

In [33]:
r = x[1]

In [34]:
type(r)

list

In [36]:
r[0],r[1]

(2, 3)

In [38]:
r[:2] == x[1][:2]

True

In [41]:

print(x[1:][0])

[2, 3, 4]

In [48]:
x[1:][0][1:]

[3, 4]

In [45]:
x[1]

[2, 3, 4]

In [1]:
x = range(10) # Creates a sequence of integer values from 0 to 9
print(x)

range(0, 10)

In [2]:
x = range(10)

print(list(x))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]